# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# private/secrets
data.geojson

# data
data/

# Fresh build directory
_fresh/
# npm dependencies
node_modules/
